.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.appHeader {
  background-color:white;
  border: 1px solid grey;
  margin: 0;
  padding: 15px 0px;
  color: black;
  text-shadow: black 2px 2px
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
