.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


/* .appHeader {
  background-color:white;
  border: 1px solid grey;
  margin: 0;
  padding: 15px 0px;
  color: black;
  text-shadow: black 2px 2px
} */

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.topbar {
  background-color: #ffff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 1;
  height: 4.5em;
}

.userPhotos {
  height: 293px;
  width: 293px;
}

.instaCloneFont {
font-family: 'Grand Hotel', cursive;
}

.usernameFont {
font-family: 'Quicksand', sans-serif;
}

.cameraIcon {
  padding-left: 15%;
  top: 1.5em;
  width: 2em;
  height: 1.5em;
  color: black;
  position: fixed;
}

.site{
  position: fixed;
  padding-left: 2em;
  top: 0;
}

.iconDistance{
  padding-left: 2em;
}

.iconTop{
  padding-top: 1.5em;
  padding-left: 60%;
}

.cursor {
  cursor: pointer;
}

.inputBar{
  position: fixed;
  margin-top: 2%;
  left: 46%
}