.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

body {
   background-color: aqua;
 }

/* .appHeader {
  background-color:white;
  border: 1px solid grey;
  margin: 0;
  padding: 15px 0px;
  color: black;
  text-shadow: black 2px 2px
} */

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.topbar {
  background-color: #ffff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 1;
  height: 4.5em;
}

.userPhotos {
  height: 293px;
  width: 293px;
}

.instaCloneFont {
font-family: 'Grand Hotel', cursive;
}

.usernameFont {
font-family: 'Quicksand', sans-serif;
}

.cameraIcon {
  padding-left: 15%;
  top: 1.5em;
  width: 2em;
  height: 1.5em;
  color: black;
  position: fixed;
}

.site{
  position: fixed;
  padding-left: 2em;
  top: 0;
}

.iconDistance{
  padding-left: 2em;
}

.iconTop{
  padding-top: 1.5em;
  padding-left: 60%;
}

.cursor {
  cursor: pointer;
}

.inputBar{
  position: fixed;
  margin-top: 2%;
  left: 46%
}

.loginBox{
  text-align: center;
  width: 22.25%;
  height: 45%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin-left: 38%;
  margin-top: 5%;
  padding: 10px 0;
}

.siteFont{
  text-align: center;
  font-size: 3em;
  font-family: 'Grand Hotel', cursive;
  color: #262626;
}

.loginBtn{
  top: 16px;
  height: 38px;
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  width: 80%;
  background-color: #3897f0;
  font-weight: bold;
}

.usernameBox{
  height: 38px;
  /* -webkit-box-align: center; */
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  /* display: flex; */
  /* -webkit-box-orient: horizontal;
  -webkit-box-direction: normal; */
  flex-direction: row;
  font-size: 14px;
  position: relative;
  /* -webkit-appearance: none; */
  width: 80%;
  border: 1px solid #efefef;
}

.passwordBox{
  top: 8px;
  height: 38px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  width: 80%;
  border: 1px solid #efefef;
}

.messageSize{
  font-size: 12px;
  color: #262626;
  text-align: center;
}

.smallerBox{
  text-align: center;
  width: 22.25%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin-left: 38%;
  top: 10px;
  position: relative;
}

.dontHaveAcct{
  font-size: 14px;
  color: #262626;
}

.getTheApp{
  font-size: 14px;
  color: #262626;
  padding-top: 1.5%;
}

.appStore{
  padding-right: .5%;
}