/*--------------------------------------------*/
/*                  Home.jsx                  */
/*--------------------------------------------*/

.homefeed-page-container {
    background-color: salmon;
    font-size: 10px;
}

.homefeed-card-container {
    background-color: blueviolet;
    width: 50%;
    margin: 0 auto;
    transition: 0.5s all;
}

.homefeed-card-meta {
    background-color: greenyellow;
    display: flex;
    padding: 2%;
    align-items: center;
}

.homefeed-card-userprof {
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.homefeed-card-username {
    margin-left: 2%;
}

.homefeed-card-username a {
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(55, 55, 55);
    font-weight: 600;
}

.homefeed-card-img {
    background-color: violet;
    /* width: 500px; */
}

.homefeed-card-img img {
    position: relative;
    width: 100%;
}

.homefeed-card-caption {
    background-color: skyblue;
}

@media screen and (max-width: 940px) {
    .homefeed-card-container {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .homefeed-card-container {
        width: 95%;
    }
}